.logo-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background1.jpg");
  opacity: 70%;
}
.logo-text {
  position: relative;
  top: 45%;
  width: 200px;
}

.logo-wrapper::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(114, 7, 214, 0.5); /* Violet color with opacity */
}

.btn-tag {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  button {
    width: 300px;
    font-size: 18px;
  }
  .skip-text {
    margin-top: 20px;
    font-size: 18px;
  }
}
